.new{
  width: 100%;
  max-height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans";
    margin-top: 50px;
    margin-bottom: 50px;
}

.top{
    > h1{
        font-family: "Noto Sans";
        font-size: 25px;
        margin-bottom: 30px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}
.formInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.rLabel{
    margin-bottom: -5px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .rinput{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .rButton {    
    margin: 15px 0 0;
    width: 100%;
    padding: 16px 18px;
    font-size: 1.071em;
    line-height: normal;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #0071c2;
    border: 1px solid #0071c2;
    color: #fff;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
  }

  .loginBtn{
    color: blue;
    cursor: pointer;
  }

  .register{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
  }

  @media (max-width : 450px) {
    .form{
      width: 260px;
      height: 700px;
    }
    .formInput{
      width: 260px;
    }
  }