.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainer {
  background-color: white;
  padding: 20px;
  position: relative;
  overflow: scroll;
  // margin: 40px;
  max-width: 1024px;
  width: 80%;
  
}
.checkbox{
  cursor: pointer;

}

.rClose {
  position: absolute;
  overflow: hidden;
  color: #0071c2;
  font-size: 30px;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 800;
}

.rDesc {
  font-weight: 300;
}

.rMaxPeople {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.room{
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.noRoom{
  font-weight: 100;
  color: gray;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}
.rItem:hover{
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}
@media (max-width:450px) {

  .rContainer{
    width: 80%;
    height: 70vh;
    padding: 20px 10px;
  }
  .rSelectRooms{
    width: 100%;
  }
  .rItem{
    flex-direction: column;
    // width: 70px;
  }
}