.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    
    // width: 100%;
    // max-width: 1024px;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 540px;
    

    >h1{
      margin-bottom: 30px;
      font-family: 'Noto Sans';
      font-size: 25px;
    }
  }

  .lLabel{
    margin-bottom: -5px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .linput{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .lButton {
    border: none;
    padding: 15px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Noto Sans';
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .newUser{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 500;
  }
  .foot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width : 450px) {
    .login{
      height: 100vh;
    }
    .lContainer{
      width: 260px;
      height: 400px;

      >h1{
        font-size: 16px;
      }
    }
    .foot{
      margin-top: 240px;
      // justify-content: flex-end;
      // align-items: flex-end;
    }
  }