.navbar{
    background-color: #003580;
    height: 50px;
    display: flex;
    justify-content: center;
    
    

    >div{
        width: 100%;
        max-width: 1024px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >div{
            >button{
                margin: 20px;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                color: #003580;

            }
        }
    } 
}

.logo{
    font-family: 'Righteous';
    font-weight: 500;
    cursor: pointer;
    font-size: 25px;
}