.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Roboto';
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 10px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 10px 0px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    
    cursor: pointer;
    
    &:hover{
        background-color: #004cb8;
    }
}

.stays{  
    border: 1px solid white;
}

.headerDesc{
    margin: 20px 0px;
    font-size: 25px;
    font-weight:100;
}

.type-animation{
    color: #febb02;
    font-weight: 500;
}

.headerBtn{
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.headerSearchBar{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    max-width: 1024px;
    bottom: -25px;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor: pointer;
}

.date{
    position: absolute;
    top: 50px;
}

.options{
    position: absolute;
    background-color: white;
    color: gray;
    top: 50px;
    transition: all 2s ease-in;
    // animation: alternate;
}

.optionItem{
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
}

.optionCounter{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;
    color: black;
}

.optionCounterBtn{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterNumber{
    width: 20px;
    height: 20px;
    // background-color: red;
    // align-items: center;
    // justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.optionCounterBtn:disabled{
    cursor: not-allowed;
}

.headerTitle{
    font-size: 50px;
}
.headerBtn:hover{
    box-shadow: 1px 1px 5px #fff;
}

@media (max-width: 450px) {
    .headerSearchBar{
        padding: 0px;
        max-width: 350px;
        height: 150px;
        flex-direction: column;
        bottom: 9px;
    // bottom: 50px;
    }
    .headerSearchItem{
        border: 1.5px solid #febb02;
        border-bottom: 1.5px solid #febb02;
        width: 100%;
        max-width: 350px;
        justify-content: center;
        text-align: center;
        height: 40px;
    } 
    .headerBtn{
        width: 100%;
    }
    .headerTitle{
        font-size: 30px;
        margin-left: 22px;
    }
    .headerDesc{
        font-size: 14px;
        margin-left: 22px;
        margin-top: 10px;
    }
    .header{
        height: 280px;
    }
    .signbtn{
        display:none;
    }
    .headerList{
        display: none;
    }
    .date{
        margin-top: 110px;
    }
    .options{
        margin-top: 110px;
    }
    .headerSearchInput{
        width: 130px;
        // text-align: center;
    }
}
// @media (max-width: 751px) {
//     .headerSearchBar{
//         max-width: 725px;
//     }
//     .headerContainer{
//         max-width: 725px;
//     }
//     .headerList{
//         font-size : 15px
//     }
//     .headerTitle{
//         font-size: 40px;
//     }
//     .headerDesc{
//         font-size: 20px;
//     }
// }