.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 20px;
    z-index: 1;
    overflow-x: auto;
    // overflow-x: hidden;
    font-family: 'Roboto';
  }
.featured::-webkit-scrollbar {
    display: none;
}
.featuredItem{
    position: relative;
    color: white;
    // overflow: hidden;
    height: 100%;
    flex:1;
    cursor: pointer;
    transition: all 0.3s;
}

.featuredItem:hover{
    border-radius: 10px;
}

.featuredImg{
    width: 300px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s;
}
.featuredImg:hover{
    transform: scale(1.05);
}
  
.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

@media (max-width : 751px){
    .featured{
        width: 90%;
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    .featuredItem{
        // padding: 5px;
        height: 163px;
    }
    .featuredTitles{
        bottom: 15px;
        left: 10px;
        font-size: 10px;
    }
    .featuredImg{
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }
}
