.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: 'Roboto';
}

.fpItem{
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fpImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s;
}
.fpImg:hover{
  transform: scale((1.05));
}

.fpName{
  color: #333;
  font-weight: bold;
}

.fpCity{
  font-weight: 300;
  text-transform: capitalize;
  color: rgb(101, 100, 100);
}

.fpPrice{
  font-weight: 500;
}

.fpRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fpRating>span{
  font-size: 14px;
}

@media (max-width : 751px) {
    .fp{
      width: 90%;
      display: flex;
      overflow-x: auto;
    }
    .fpItem{
      padding: 5px;
    }
    .fpImg{
      width: 200px;
      height: 200px;
    }
}